<% include ../partials/header %>

<header class="container jumbotron">
	
</header>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a class="btn" href="/campgrounds/"><i class="fas fa-arrow-circle-left fa-3x"></i></a>
			</div>
			<div class="col-md-10">
				<div class="card">
					<img class="img-fluid" src="<%= camp.image %>" alt="">
					<div class="card-body">
						<a class="lead" target="_blank" href="<%= camp.url%>"><%= camp.name%></a>
						<p>
							Description of the Camp goes here...
						</p>
					</div>
				</div>
				<% include ../comments/new %>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>
