<% include partials/header %>

<h1>
	List of Campgrounds
</h1>
	<a href = "/campgrounds/new">Add New</a>
	<span>|</span>
	<a href	= "javascript:history.back()">Back</a>

	<% campsites.forEach(function(campsite) { %>
	<li>
		<strong> <%= campsite.name %> </strong> - <%= campsite.url %>
	</li>
	<img src='<%= campsite.image %>' >
	<% }) %>


<% include partials/footer %>
