<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yelp Camp!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">	
	<style>
		.ctop {
			margin-top: 4rem;
		}
		.mb-2-5 {
			margin-bottom: 2.5rem;
		}
		.comments {
			background: #f2f1f0;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-md">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><i class="fas fa-users mr-2"></i>Welcome to Yelp Camp!</a>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto ">
				<% if (!currentUser) { %>
				<li class="nav-item "><a class="nav-link" href="/login">Login</a></li>
				<% } else { %>
				<li class="navbar-text">Hello, <%= currentUser.username %> <i class="far fa-user"> </i></li>
				<li class="nav-item "><a class="nav-link" href="/logout">Logout</a></li>
				<% } %>
				<li class="nav-item "><a class="nav-link" href="#">About us</a></li>
			</ul>
		</div>
	</div>
</nav>
